#landingpage{
    .lpDepartments{
        .hdl2{
            text-align: left;
        }

        .departmentBox{
            border-radius: 4px;
            overflow: hidden;
            background: $white;
            box-shadow: 0 1px 4px rgba($color: $black, $alpha: .15);
            transition: .3s ease-in-out;
            margin: 10px;
            width: calc((100% / 3) - 20px);

            &:hover{
                box-shadow: 0 1px 8px rgba($color: $black, $alpha: .3);
            }

            &__imageWrapper{
                width: 100%;
                padding-top: 35%;
                position: relative;
                z-index: 4;
                overflow: hidden;
        
                &--image{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    max-width: 100%;
                    max-height: 100%;
                    min-width: 100%;
                    min-height: 100%;
                    transform: translate(-50%,-50%);
                    object-fit: cover;
                }
            }
        
            &__bottom{
                background: $white;
                box-sizing: border-box;
                padding: 15px;
                text-align: left;
                
                &--name{
                    font-weight: 500;
                    color: $media;
                    position: relative;
                }
                
                &--name.icon--apple::after{
                    content: '';
                    position: absolute;
                    width: 21px;
                    height: 26px;
                    background: url('https://cdn.alza.cz/Foto/or/lp/p7-showroom/build/img/apple.svg') center no-repeat;
                    background-size: 100%;
                    right: 0;
                    top: 0;
                }

                &--name.icon--intel::after{
                    content: '';
                    position: absolute;
                    width: 38px;
                    height: 20px;
                    background: url('https://cdn.alza.cz/Foto/or/lp/p7-showroom/build/img/intel.svg') center no-repeat;
                    background-size: 100%;
                    right: 0;
                    top: 0;
                    transform: translateY(30%);
                }

                &--text{
                    margin-top: 12px;
                }
            }
        }
    }
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpDepartments .departmentBox{
            margin: 10px;
            width: calc((100% / 2) - 20px);
        }
    }
}

@media only screen and (max-width: 500px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpDepartments .departmentBox{
            width: 100%;
            max-width: 348px;
            margin: 10px;
        }
    }
}