// footer
#articlePage #landingpage{
    .lpFooter{
        background: url('https://cdn.alza.cz/Foto/or/lp/alzaexpres-complet/build/img/footer.png');
        background-size: cover;
    }
}

// alza
#articlePage #landingpage #newSocialContainer{
    padding: 0;
}