#landingpage{
    .lpHeader{
        background: url('https://cdn.alza.cz/Foto/or/lp/alzaexpres-complet/build/img/header.png') center no-repeat;
        background-size: cover;
        position: relative;
        padding: 100px 0;
        overflow: hidden;

        &__textWrapper{
            width: 52%;
            text-align: left;

            &--logo{
                max-width: 200px;
                margin-bottom: 24px;
            }

            .notMoveH1{
                color: $white;
            }

            .hdl3{
                font-weight: 400;
                color: #BAE2FC;
                margin-top: 16px;
            }
        }

        &__listItems{
            margin: 20px 0 0;
            padding: 0;

            .perex{
                color: $white;
                padding-left: 32px;
                position: relative;
                margin-top: 4px;

                &:first-of-type{
                    margin-top: 0;
                }

                &::before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: url('https://cdn.alza.cz/Foto/or/lp/alzaexpres-complet/build/img/white-check.svg') center no-repeat;
                    background-size: 100%;
                    top: 2px;
                    left: 0;
                }
            }
        }

        &__imageWrapper{
            &--image{
                position: absolute;
                opacity: 0;
            }

            .lpImage{
                &--car{
                    bottom: -10%;
                    animation: animation-car .8s .6s forwards;
                    animation-timing-function: ease-out;
                }

                &--alzak{
                    right: 6%;
                    bottom: -18%;
                    animation: animation-alzak .8s 1.9s forwards;
                    animation-timing-function: ease-out;
                }

                &--lednice{
                    bottom: -9%;
                    right: 34%;
                    animation: animation-electro .4s 1.3s forwards;
                    animation-timing-function: ease-in;
                }

                &--pracka{
                    bottom: -6%;
                    right: 37%;
                    animation: animation-electro .4s 1.45s forwards;
                    animation-timing-function: ease-in;
                }

                &--tv{
                    right: 23%;
                    bottom: -11%;
                    animation: animation-electro .4s 1.6s forwards;
                    animation-timing-function: ease-in;
                }
            }
        }
    }
}

// keyframes
@keyframes animation-car {
    0%    { right: -60%; opacity: 1; }
    100%  { right: 0; opacity: 1;}
}

@keyframes animation-electro {
    0%  { opacity: 1;}
    50%  { transform: scale(1.2); }
    100%  { opacity: 1;}
}

@keyframes animation-alzak {
    0%  { bottom: -50%; opacity: 1;}
    100%  { bottom: -18%; opacity: 1;}
}

// layout 0
.layout-0 #landingpage{
    .lpHeader{
        &__imageWrapper{
            .lpImage{
                &--car{
                    max-width: 50%;
                }

                &--alzak{
                    max-width: 25%;
                    right: 3%;
                }

                &--lednice{
                    right: 27%;
                }

                &--pracka{
                    right: 31%;
                }

                &--tv{
                    right: 18%;
                    max-width: 30%;
                }
            }
        } 
    }
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpHeader{
            padding: 56px 0;

            &__imageWrapper{
                display: none;
            } 

            &__textWrapper{
                width: 100%;
            }
        }
    }
}