#landingpage{
    .lpServices{
        background: url('https://cdn.alza.cz/Foto/or/lp/alzaexpres-complet/build/img/category-background.png') center no-repeat;
        background-size: cover;

        .hdl2{
            color: $white;

            &:last-of-type{
                margin-top: 50px;
            }
        }

        .sectionTop{
            color: #BAE2FC;
        }

        &__saveMoneyWrapper{
            margin-top: 30px;
        }

        &__saveMoneyBox{
            width: calc(50% - 20px);
            margin: 10px;
            background-color: $white;
            border-radius: 4px;
            padding: 24px 20px;
            text-align: left;

            &:first-of-type{
                .perex{
                    &::before{
                        background: url('https://cdn.alza.cz/Foto/or/lp/alzaexpres-complet/build/img/discount.svg') center no-repeat;
                        background-size: 100%;
                    }
                }
            }

            .perex{
                color: $media;
                position: relative;
                padding-left: 32px;
                font-weight: 500;

                &::before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 0;
                    top: 2px;
                    background: url('https://cdn.alza.cz/Foto/or/lp/alzaexpres-complet/build/img/tool.svg') center no-repeat;
                    background-size: 100%;
                }
            }

            .par{
                margin-top: 8px;
                color: $dark;
            }

            .par.addRedColor{
                color: #E9242E;
            }
        }
    }
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpServices__saveMoneyBox{
            width: 100%;
        }
    }
}