#landingpage .lpUsps{
    &__box{
        margin: 10px;
        text-align: center;
        width: calc((100% / 6) - 20px);

        figure{
            @include flex;
            align-content: center;
            background: rgb(0,163,255);
            background: linear-gradient(180deg, rgba(0,163,255,1) 0%, rgba(0,148,231,1) 100%);
            border-radius: 25px;
            margin: 0 auto;
            width: 80px;
            height: 80px;

            svg{
                width: 54px;
                max-width: 54px;
                max-height: 54px;
            }
        }

        .perex{
            color: $alza;
            font-weight: 500;
            margin-top: 12px;
        }

        .par{
            color: $dark;
            margin-top: 8px;
        }
    }
}

// layout-0 
.layout-0 #landingpage{
    .lpUsps__box{
        width: calc((100% / 4) - 20px);
    }  
}

// media
@media only screen and (max-width: 850px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpUsps__box{
            width: calc((100% / 4) - 20px);
        }
    }
}

@media only screen and (max-width: 650px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpUsps__box{
            width: calc((100% / 3) - 20px);
        }
    }
}

@media only screen and (max-width: 450px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpUsps__box{
            width: calc((100% / 2) - 20px);
        }
    }
}

@media only screen and (max-width: 380px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpUsps__box{
            width: calc(100% - 20px);
        }
    }
}