#landingpage .lpAccordion{
    .lpFAQs{
        margin: 0 auto;
        padding-top: 40px;

        &__wrapper{
            background: $white;
            border-radius: 4px;
            text-align: left;
            margin-bottom: 10px;
            padding: 0 16px;
            cursor: pointer;
            box-shadow: 0 1px 4px rgba($color: $black, $alpha: .15);
            height: auto;
            transition: .15s ease-in-out;

            &:hover{
                background-color: #f8f8f8;

                .par.faqsHeadline{
                    color: $primary;
                }
            }

            &:last-of-type{
                margin-bottom: 0;
            }
        }

        // wrapper active
        .active{
            transition: .3s ease-in-out;
            background-color: #f8f8f8;

            .par.faqsHeadline{
                color: $primary;
                font-weight: 500;

                &::before{
                    transform: rotate(180deg);
                }
            }
        }

        // headline
        .par.faqsHeadline{
            color: $black;
            margin: 0;
            position: relative;
            outline: none;
            padding: 12px 0 12px 32px;
            transition: .15s ease-in-out;

            &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 16px;
                background: url("https://cdn.alza.cz/Foto/or/lp/components/ls/accordion/img/blue-arrow.svg") 50% no-repeat;
                background-size: cover;
                left: 0;
                top: 14px;
                transition: .3s ease-in-out;
                transform-origin: center;
            }
        }

        // paragraph
        &__paragraph{
            padding: 0 16px 24px 32px;
            height: auto;
        }

        .par.faqsParagraph{
            color: $dark;
            margin-top: 8px;
            padding: 0 16px 0 0;
        }

        // paragraph link
        .par--link{
            color: $primary;
            text-decoration: underline;
            transition: .3s ease-in-out;
        }

        // paragraph items
        &__itemsBlock{
            margin-top: 12px;

            .par{
                font-weight: 700;
                color: $dark;
            }
        }

        &__itemsWrapper{
            margin: 8px 0 0;
            padding-left: 10px;
        }

        .par--item{
            font-weight: 400;
            margin-top: 4px;
            position: relative;
            padding-left: 14px;
            color: $dark;

            &:first-of-type{
                margin-top: 0;
            }

            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 4px;
                height: 4px;
                border-radius: 8px;
                background-color: $dark;
            }
        }
    }
}