#landingpage{
    .popBox--off{
        display: none;
    }

    // pop up content
    .lpPopContent{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999;
        background: rgba($color: $black, $alpha: .5);
        box-sizing: border-box;
        display: none;

        .lpContainer{
            height: 100%;
            max-width: 1200px;
        }

        &__box{
            background-color: #f8f8f8;
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 600px;
            overflow-y: scroll;

            &--close{
                width: 24px;
                height: 24px;
                background: url('https://cdn.alza.cz/Foto/or/lp/alzaExpress/img/close.svg') center no-repeat;
                transition: .3s ease-in-out;
                position: absolute;
                right: 10px;
                top: 10px;
                transform: translate(0, 0);
                z-index: 10;
                cursor: pointer;
    
                &:hover{
                    transform: translate(0, 0) rotate(90deg);
                }
            }
        }

        &__header{
            background-color: $white;
            position: relative;

            &--image{
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                max-width: 100%;
                max-height: 100%;
                height: 100%;
            }
        }

        &__header-text{
            position: relative;
            z-index: 3;
            text-align: left;
            max-width: 70%;
            padding: 5%;

            .lp-heading-2{
                color: $white;
                font-size: 32px;
            }

            .par{
                color: $dark;
                margin-top: 16px;
            }

            .hdl3{
                color: $alza;
                font-weight: 400;

                strong{
                    font-weight: 700;
                }
            }

            &--info{
                display: inline-block;
                color: $white;
                margin-top: 8px;
                font-size: 12px;
            }
        }

        &__main{
            padding: 5%;
            background-color: #f8f8f8;
            @include flex;
            align-content: center;
        }

        &__main-text{
            text-align: left;
            position: relative;
            flex: 1;
            order: 1;
            margin-right: 32px;

            .hdl2{
                margin-bottom: 24px;
            }

            .hdl3{
                color: $alza;
                margin-top: 32px;

                &:first-of-type{
                    margin-top: 0;
                }
            }

            
        }

        &__itemsWrapper{
            margin-top: 16px;
            padding-left: 0;
        }

        &--item{
            color: $dark;
            position: relative;
            padding-left: 32px;
            margin-top: 10px;

            &:first-of-type{
                margin-top: 0;
            }

            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 1px;
                background: url('https://cdn.alza.cz/Foto/or/lp/alzaExpress/img/check.svg') center no-repeat;
                background-size: 100%;
                width: 20px;
                height: 20px;
            }
        }

        &__main-alzak{
            flex: 0 0 130px;
            order: 2;
        }
    }
}

// layout-0
.layout-0 #landingpage .lpPopContent .lpContainer{
    max-width: 950px;
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpPopContent__box{
            height: 480px;
        }
    }
}

@media only screen and (max-width: 850px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpPopContent__header--image,
        .lpPopContent__main-alzak{
            display: none;
        }

        .lpPopContent__header-text{
            max-width: 100%;
        }
    }
}